@media (min-width: 768px) {
  .cite_theme {
    display: flex;
    justify-content: flex-start;
  }
  .swiper-wrapper, .swiper-slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .swiper-slide_brand {
    height: 72px;
    width: 224px;
  }
  .button {
    display: flex;
  }
  .swiper-pagination {
    display: none;
  }
  .swiper-slide {
    display: block;
  }
}
