@font-face {
  font-family: "TTLakes-Light";
  src: url("./resources/fonts/TTLakes-Light.eot");
  src: url("./resources/fonts/TTLakes-Light.woff") format("woff"),
    url("./resources/fonts/TTLakes-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #f8f8f8;
}
html,
body {
  position: relative;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.cite_theme {
  display: flex;
  justify-content: center;
}
header {
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  height: 80px;
}
h1 {
  font-family: "TTLakes-Light";
  font-size: 16px;
  color: #7e7e82;
  line-height: 24px;
  margin: 16px;
}
html:before {
  content: "";
  display: block;
  height: 1px;
  background: #d9fff5;
}
.swiper-slide_brand {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  height: 72px;
  width: 240px;
  border: solid 1px #eaeaea;
  border-radius: 5px;
  margin-bottom: 32px;
}
img {
  margin-left: 16px;
  margin-right: auto;
  max-width: 152px;
  height: 70%;
  object-fit: contain;
}
svg {
  margin: 16px 16px 16px auto;
}
.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}
.button {
  display: none;
  flex-direction: row;
  height: 34px;
  width: 134px;
  margin-left: 24px;
  align-items: center;
  align-self: center;
}
.button p {
  font-family: "TTLakes-Light";
  font-size: 16px;
  color: #1b1c21;
  white-space: nowrap;
}
.hidden {
  display: none;
}
